<h1><strong><i> Lab Practice </i></strong></h1>

<p><strong> Name </strong>: Aina khan</p>
<p><strong> Reg No </strong>: 0540 <p>
<p><strong> Lab NO </strong>: <strong> 3 </strong> <p>

<h1><strong><i>"List, Tuple, Dictionary"</i></strong></h1>

<h1><b><i>1. List</i></b></h1>

<h4><i>1. Make a list of 5 any integers.</i></h4>

In [14]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

<h4><i> 2. Make a list that contains the student's name, the last four digits of the registration number as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)</i></h4>

In [21]:
student_info = ["Khadija Ali", 535 , 3.2 , [3.1 ,3.3 ,3.4,3.4] ]
print(student_info)

['Khadija Ali', 535, 3.2, [3.1, 3.3, 3.4, 3.4]]

<h4> <i>3. In the above list print the student's CGPA. (Index)</i></h4>

In [24]:
print(student_info[2])

3.2

<h4><i>4. Print the list elements using the while loop and use the length function. (len)</i></h4>

In [27]:
x = 0
while x < len(student_info):
    print(student_info[x])
    x+=1

Khadija Ali
535
3.2
[3.1, 3.3, 3.4, 3.4]

 <h4><i> 5. Access the list of all semester GPAs using negative indexing. </i></h4>

In [31]:
smester_GPAs = student_info[-1]
print(smester_GPAs)

[3.1, 3.3, 3.4, 3.4]

<h4><i> 6. Make a list of the first 20 integers using the range function.</i></h4>

In [67]:
first_20_integers = list(range(1, 21))
print(first_20_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

<h4><i>7. Make a list of odd integers from 20 to 40 using the range function.</i></h4>

In [36]:
odd_integer= list(range(21,40,2))
print(odd_integer)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

<h4><i> 8. Consider the student list.Student = [Ibrahim, Husain, Irfan, Ayub, Usman]Use in and not in operators to ensure that the student is in the list or not.</i></h4>

In [129]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub"," Usman"]

In [131]:
"Irfa" in Student

False

<h4><i>9. Print all the student lists in task 8 using the for loop.</i></h4>

In [149]:
i= ["khadija","aina","rubab"]
for frnds in i:
    print(frnds)

khadija
aina
rubab

<h4><i>10. Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for the student list.    Student [1:3] and student [2:4]</i></h4>

In [152]:
print (i[1:3])
print(i[2:4])

['aina', 'rubab']
['rubab']

<h4><i> 11. Make an appropriate list and use and demonstrate the use of the following mutator Methods.</i></h4>

<h4><b>a. .append(obj)</b></h4>

In [171]:
list = [1,3,4]
list.append(9)
print(list)

[1, 3, 4, 9]

<h4><b> b. .extend(iterable)</b></h4>

In [180]:
list = [1,3,4,8]
list.extend([6,7])
print(list)

[1, 3, 4, 8, 6, 7]

<h4><b> c. .insert(index, obj)</b></h4>

In [46]:
list = [1,3,4]
list.insert(1,7)
print(list)

[1, 7, 3, 4]

<h4><b> d. .remove(obj)</b></h4>

In [6]:
list2=[3,5,6,7,9]
list2.remove(6)
print(list2)

[3, 5, 7, 9]

<h4><b> e. .pop([index=-1])</b></h4>

In [9]:
list2.pop()
print(list2)

[3, 5, 7]

In [11]:
list2.pop()
print(list2)

[3, 5]

<h4><i>12. Use list inducing in the following nested list and access each and every element. x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]</i></h4>

In [16]:
 x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [24]:
# access "a"
print(x[0])

a

In [28]:
# access "bb"
print(x[1][0])

bb

In [30]:
# access "["ccc", "ddd"]"
print(x[1][1])

['ccc', 'ddd']

In [44]:
# access "ddd"
print(x[1][1][1])

ddd

In [46]:
# access "ee"
print(x[1][2])

ee

In [48]:
# access "ii"
print(x[3][1])

ii

<h1><b><i>2. Tuple</i></b></h1>

<h4><i> 1. Make a tuple containing first five letters of English. (definition)</i></h4>

In [54]:
tuple1 = ('a','b','c','d','e')
print(tuple1)

('a', 'b', 'c', 'd', 'e')

<h4><i> 2. Use the index to access the third and last element.</i></h4>

In [63]:
# access third letter
third_letter = tuple1[2]
# access last letter
last_letter = tuple1[4]
print(third_letter,last_letter)

c e

<h4><i>3. Make an appropriate list and tuple and use different operations that will show that list is mutable and tuple is immutable.</i></h4>

In [76]:
mutable_list = [1,2,3,4,5,6]

In [78]:
mutable_list[0] = 9
print(mutable_list)

[9, 2, 3, 4, 5, 6]

In [80]:
mutable_list.append(8)
print(mutable_list)

[9, 2, 3, 4, 5, 6, 8]

In [82]:
mutable_list.insert(3,0)
print(mutable_list)

[9, 2, 3, 0, 4, 5, 6, 8]

In [84]:
mutable_list.remove(4)
print(mutable_list)

[9, 2, 3, 0, 5, 6, 8]

In [86]:
immutable_tuple = ('a','b','c','d','e')

In [92]:
immutable_tuple[0]=2
print(immutable_tuple)

TypeError: 'tuple' object does not support item assignment

In [90]:
try:
    immutable_tuple[0]=2
except TypeError as e:
    print("Error :", e)

Error : 'tuple' object does not support item assignment

<h4><i> 4. Make a tuple num = (1, 2, 3, 4). a. Observe the output num[2] = 9 </i></h4>

In [170]:
tuple_num = (1, 2, 3, 4)
try:
    tuple_num [2] = 9
except TypeError as e:
    print("Error : ", e)

Error :  'tuple' object does not support item assignment

<h1><b><i>3. Dictionary</i></b></h1>

<h4><i> 1. Consider the following structure and observe. Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}</i></h4>

In [61]:
Fd= { 'one': 'aik',  'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [63]:
print(Fd['ten'])

das

In [65]:
print(Fd['one'])

aik

In [67]:
del(Fd['ten'])
print(Fd)

{'one': 'aik', 'three': 'teen', 'fifteen': 'pandra'}

In [69]:
length=len(Fd)
length

3

In [71]:
values=Fd.values()
print(list(values))

['aik', 'teen', 'pandra']

In [73]:
'one' in Fd

True

In [75]:
'ten' in Fd

False

In [15]:
copy = Fd.copy()

In [17]:
print(copy)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [19]:
alias = Fd

In [21]:
print(alias)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [27]:
alias['three'] = '3'
alias

{'one': 'aik', 'three': '3', 'ten': 'das', 'fifteen': 'pandra'}

In [69]:
copy['ten'] = '10'
copy

{'one': 'aik', 'three': 'teen', 'ten': '10', 'fifteen': 'pandra'}

<h4><i> 2 Make an appropriate dictionary and use the following built-in function and observe the result.</i></h4>

In [102]:
Fd= { 'one': 'aik',  'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}

In [104]:
Fd.clear()
Fd

{}

In [106]:
Fd= { 'one': 'aik',  'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
a=Fd.get('ten')
a

'das'

In [108]:
a=Fd.items()
a

dict_items([('one', 'aik'), ('three', 'teen'), ('ten', 'das'), ('fifteen', 'pandra')])

In [110]:
a = Fd.keys()
a

dict_keys(['one', 'three', 'ten', 'fifteen'])

In [112]:
a=Fd.values()
a

dict_values(['aik', 'teen', 'das', 'pandra'])

In [110]:
squares = []
for x in range(10):
 squares.append(x * x)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
squares = [x * x for x in range(10)]    #This simple one-line code is called list comprehension
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]