<h1 style="margin-left: 29px;text-decoration: underline;text-decoration-style: double;"><i><b>Topic:</b></i></h1>

<h1 style="margin-left: 110px; text-decoration: underline; text-decoration-style: double;"><strong><i> "for loop in python" </i></strong></h1>

<hr>

<h3 style="margin-left: 19px;text-decoration: underline;text-decoration-style: double;"><i><b>for loops</b></i></h3>

<h3 style="margin-left: 19px;text-decoration: underline;text-decoration-style: double;"><i><b>syntax</b></i></h3>

<h4 style="margin-left: 10px;"><i> <b>for :</b> Keyword used to start the loop.<br><br>
<b>variable :</b> A variable that will hold the current item from the iterable in each iteration.<br><br>
<b>in :</b> Keyword that connects the variable with the iterable.<br><br>
<b>iterable :</b> An object that can be iterated over (like a list, string, or a range).<br><br>
<b>: :</b> Marks the start of the block of code to execute in each iteration.<br><br>
<b>Indented block :</b> The code that runs for each item in the iterable
</i></h4>

<hr>

<h3><b>1. Print numbers from 1 to 5 using a for loop:</b></h3>

In [70]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [72]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [74]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [76]:
for i in range(0,50,5):
    print(i)

0
5
10
15
20
25
30
35
40
45

<h3><b>2.Sum of first 10 numbers:</b></h3>

In [83]:
total=0
for i in range(1,11):
    total +=i
    print(total)

1
3
6
10
15
21
28
36
45
55

<h3><b>3.Print each character of a string:</b></h3>

In [87]:
string = "hello world"
for char in string:
    print(char)

h
e
l
l
o

w
o
r
l
d

In [97]:
a="aina"
for i in a:
    print(i,end="")

aina

In [103]:
for char in "Hello, World!":
    print(char, end="")

Hello, World!

<h3><b>4.Print the elements of a list:</b></h3>

In [115]:
fruits=["apple","mango","orange"]
for fruit in fruits:
    print(fruit)

apple
mango
orange

In [131]:
colors=["red,"," yellow,"," pink",", white"]
for color in colors:
    print(color,end="")

red, yellow, pink, white

<h3><b>5.Find the factorial of a number:</b></h3>

In [13]:
num=5      
factorial=1
for i in range(1,num+1):
    factorial*=i
    print(factorial)

1
2
6
24
120

In [27]:
factorial=1
for i in range (6):
    factorial *=i+1
    print(factorial)

1
2
6
24
120
720

<h3><b>6.Print the even numbers from a list:</b></h3>

In [50]:
x=[1,2,3,4,5,6,7,8,9]
for i in x:
    if i % 2==0:
        print(i)

2
4
6
8

In [54]:
number=[4,5,6,7,8,9,10,11,12,13,14,15]
for num in number:
    if num%3==0:
        print(num)

6
9
12
15

<h3><b>7.Create a multiplication table for a number:</b></h3>

In [139]:
num=2
x=0
for i in range(1,11):
    i*=x+1
    print(num ,"x",i,"=",num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [141]:
num=5
for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

<h3><b>8.Print the elements of a nested list:</b></h3>

In [163]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
for x in nested_list:
    for i in x:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9

<h3><b>9. Reverse a string using a for loop:</b></h3>

In [181]:
string="python"
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print(reversed_string)

nohtyp

In [191]:
string = "UET"
reversed_string = ""
for i in string:
    reversed_string = i + reversed_string
print(reversed_string)

TEU

<h3><b>10. Print the index and value of each element in a list:</b></h3>

In [195]:
fruits = ["apple", "banana", "cherry"]   # enumerate give both value and numbering of item
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [3]:
subjects=["math","chem","bio","eng","urdu","phy"]
for index , subject in enumerate (subjects):
    print(f"subjects {index} is {subject}")

subjects 0 is math
subjects 1 is chem
subjects 2 is bio
subjects 3 is eng
subjects 4 is urdu
subjects 5 is phy

<hr>

<h3><b>a.Print all the prime numbers between 1 and 50:</b></h3>
<h4><b></b>Write a program to print all prime numbers in the range from 1 to 50.</h4>

In [91]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

<h3><b>b.Find the sum of all even numbers in a list:</b></h3>
<h4>Given a list of integers, write a program to find the sum of all even numbers in the list.</h4>
<h4>numbers = [10, 21, 32, 43, 54, 65]
</h4>

In [137]:
numbers = [10, 21, 32, 43, 54, 65]  # sum of all even numbers
a=0
for num in numbers:
    if num % 2 == 0:
        a += num
print(a)

96

In [143]:
numbers = [10, 21, 32, 43, 54, 65]    # sum of all odd numbers
a=0
for num in numbers:
    if num % 2 == 1:
        a += num
print(a)

129

<h3><b>c.Count the vowels in a string:</b></h3>
<h4>Write a program to count the number of vowels (a, e, i, o, u) in a given string</h4>
<h4>string = "This is a sample string."
</h4>

In [151]:
string = "This is a sample string." 
vowel="aeiou"
count=0
for char in string:
    if char in vowel:
        count+=1
print(f"the number of vowel in string is {count}")

the number of vowel in string is 6

<h3><b>d.Print a pattern using nested for loops:</b></h3>
<h4>Write a program to print the following pattern:</h4>
<h4>*<br>
**<br>
***<br>
****<br>
*****
</h4>

In [161]:
x= 1
for i in range(5):
    i+=x
    print('*' * i)

*
**
***
****
*****

<h3><b>e.Find the maximum and minimum number in a list:</b></h3>
<h4>Given a list of integers, write a program to find the maximum and minimum number in the list.</h4>
<h4>numbers = [34, 12, 67, 89, 23, 90, 33]
</h4>

In [203]:
numbers = [34, 12, 67, 89, 23, 90, 33]
Max=numbers[0]
for i in numbers :
    if i > Max:
        Max = i
print("the maximum number in list is",Max)

the maximum number in list is 90

In [207]:
numbers = [34, 12, 67, 89, 23, 90, 33]
Mini=numbers[0]
for i in numbers :
    if i < Mini:
        Mini = i
print("the minimum number in list is",Mini)

the minimum number in list is 12

<h3><b>f.Calculate the average of numbers in a list:</b></h3>
<h4>Given a list of integers, write a program to calculate the average of the numbers in the list.</h4>
<h4>numbers = [4, 8, 15, 16, 23, 42]
</h4>

In [219]:
numbers = [4, 8, 15, 16, 23, 42] 
total=0
for i in numbers:
    total+=i
    average= total/len(numbers)
print("the average number in list is",average)

the average number in list is 18.0

<h3><b>g.Create a multiplication table using a for loop:</b></h3>
<h4>Write a program to create a multiplication table for numbers 1 to 10.</h4>

In [249]:
x=2
a=0
for num in range(10):
    num*=a+1
    print(x,"x" ,num,"=" ,num*x)

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18